# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
#pulling CSV into dataframe
weather_data = pd.read_csv("weather_data.csv")
#creating weather dataframe to avoid calling the api everytime
weather_data = weather_data.drop("Unnamed: 0" , axis = 1)
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Kavaratti,100,IN,1569500319,78,10.57,72.64,27.27,7.35
1,Albany,75,US,1569500258,67,42.65,-73.75,18.33,4.60
2,Zhigansk,100,RU,1569500321,74,66.77,123.37,4.37,5.27
3,Lagoa,0,PT,1569500323,56,37.14,-8.45,26.67,3.10
4,Rikitea,11,PF,1569500324,73,-23.12,-134.97,21.67,4.03

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [20]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)
#storing humidity
humidity = weather_data["Humidity"].astype(float)

In [21]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_cities = weather_data[(weather_data["Max Temp"]>=20) & 
                            (weather_data["Max Temp"]<26) & 
                            (weather_data["Wind Speed"]<16) & 
                            (weather_data["Cloudiness"]<1)
                            ]

ideal_cities = ideal_cities.reset_index()
ideal_cities = ideal_cities.drop(columns = "index")
ideal_cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Carnarvon,0,ZA,1569500337,8,-30.97,22.13,24.97,6.56
1,Bredasdorp,0,ZA,1569500341,14,-34.53,20.04,22.00,5.10
2,Port Alfred,0,ZA,1569500379,70,-33.59,26.89,20.56,3.58
3,East London,0,ZA,1569500384,49,-33.02,27.91,23.00,7.70
4,Hermanus,0,ZA,1569500393,47,-34.42,19.24,22.47,2.70
5,Cradock,0,ZA,1569500556,7,-32.16,25.62,25.37,0.85
6,Shitanjing,0,CN,1569500662,22,39.23,106.34,22.57,3.64
7,Yumen,0,CN,1569500667,11,40.29,97.04,23.07,2.14
8,Sinazongwe,0,ZM,1569500670,22,-17.26,27.46,23.87,4.35
9,Bambanglipuro,0,ID,1569500698,87,-7.95,110.28,24.47,4.82
10,Gorontalo,0,ID,1569500721,92,0.54,123.06,23.77,1.43
11,Siyabuswa,0,ZA,1569500723,17,-25.11,29.06,21.27,2.06
12,Sumbe,0,AO,1569500739,85,-11.20,13.84,25.00,4.60
13,Katobu,0,ID,1569500766,82,-4.94,122.53,23.37,2.67
14,Misratah,0,LY,1569500777,72,32.38,15.09,25.77,4.82
15,Boysun,0,UZ,1569500788,18,38.20,67.20,24.17,3.39
16,Cerro Largo,0,BR,1569500801,72,-28.15,-54.74,20.00,2.60
17,Prieska,0,ZA,1569500888,7,-29.67,22.74,25.97,3.15
18,Rustenburg,0,ZA,1569500889,16,-25.67,27.24,21.00,3.60
19,Darnah,0,LY,1569500907,71,32.77,22.64,24.67,5.17
20,Elliot,0,ZA,1569501004,6,-31.33,27.85,24.87,2.67
21,Balkhash,0,KZ,1569501102,30,46.84,74.98,20.00,4.00
22,Benghazi,0,LY,1569501120,66,32.12,20.07,25.27,4.44

In [7]:
# City of Shitnajing did not have any lodgings that could be found by google.  Dropping before querying API to keep data consistent
ideal_cities = ideal_cities.drop(6)
ideal_cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Carnarvon,0,ZA,1569500337,8,-30.97,22.13,24.97,6.56
1,Bredasdorp,0,ZA,1569500341,14,-34.53,20.04,22.00,5.10
2,Port Alfred,0,ZA,1569500379,70,-33.59,26.89,20.56,3.58
3,East London,0,ZA,1569500384,49,-33.02,27.91,23.00,7.70
4,Hermanus,0,ZA,1569500393,47,-34.42,19.24,22.47,2.70
5,Cradock,0,ZA,1569500556,7,-32.16,25.62,25.37,0.85
7,Yumen,0,CN,1569500667,11,40.29,97.04,23.07,2.14
8,Sinazongwe,0,ZM,1569500670,22,-17.26,27.46,23.87,4.35
9,Bambanglipuro,0,ID,1569500698,87,-7.95,110.28,24.47,4.82
10,Gorontalo,0,ID,1569500721,92,0.54,123.06,23.77,1.43
11,Siyabuswa,0,ZA,1569500723,17,-25.11,29.06,21.27,2.06
12,Sumbe,0,AO,1569500739,85,-11.20,13.84,25.00,4.60
13,Katobu,0,ID,1569500766,82,-4.94,122.53,23.37,2.67
14,Misratah,0,LY,1569500777,72,32.38,15.09,25.77,4.82
15,Boysun,0,UZ,1569500788,18,38.20,67.20,24.17,3.39
16,Cerro Largo,0,BR,1569500801,72,-28.15,-54.74,20.00,2.60
17,Prieska,0,ZA,1569500888,7,-29.67,22.74,25.97,3.15
18,Rustenburg,0,ZA,1569500889,16,-25.67,27.24,21.00,3.60
19,Darnah,0,LY,1569500907,71,32.77,22.64,24.67,5.17
20,Elliot,0,ZA,1569501004,6,-31.33,27.85,24.87,2.67
21,Balkhash,0,KZ,1569501102,30,46.84,74.98,20.00,4.00
22,Benghazi,0,LY,1569501120,66,32.12,20.07,25.27,4.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = pd.DataFrame()
hotel_df["Hotel Name"] = ""
hotel_df["Lat"] = ""
hotel_df["Lng"] = ""
#hotel_df["Location"] = "" used this to identify Shitnajing did not have lodgings
hotel_df

Empty DataFrame
Columns: [Hotel Name, Lat, Lng]
Index: []

In [9]:
# params dictionary to update each iteration
params = {
    "radius": 6000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in ideal_cities.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
 
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
   
    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Lat"] = name_address["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, "Lng"] = name_address["results"][0]["geometry"]["location"]["lng"]
        #hotel_df.loc[index, "Location"] = name_address["results"][0]["vicinity"] -used this to identify Shitnajing did not have lodgings
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [10]:
hotel_df

                                Hotel Name       Lat      Lng
0                      Tip Top Guesthouses  -30.9692  22.1301
1                 Bredasdorp Country Manor   -34.533  20.0359
2                       The Halyards Hotel  -33.5943  26.8932
3                                  Tu Casa   -32.985  27.9236
4               Misty Waves Boutique Hotel  -34.4214  19.2366
5                             Die Hoekhuis  -32.1663  25.6212
7                                     玉门宾馆   40.2928  97.0429
8                           Lakeview Lodge  -17.2702  27.4646
9                       The Progo Paradise  -7.93097  110.263
10                Maqna Hotel by Prasanthi  0.537698  123.063
11    Maitishong Guesthouse & Conferencing  -25.0934  29.0929
12                              Hotel Ritz  -11.1981  13.8355
13                            La Ode Gombe  -4.94801    122.5
14                             فندق الماسة   32.3734  15.0858
15                              Gaza Hotel   38.2037  67.2255
16                           Hotel Missões  -28.1462 -54.7389
17                       Avenue GuestHouse   -29.674    22.75
18  Safari Lodge Hotel & Convention Centre  -25.6867  27.1964
19                            فندق الفردوس   32.7672  22.6379
20    Rose Garden Dinner Bed and Breakfast  -31.3337  27.8476
21                                  Family   46.8435   74.981
22                           Tebisty Hotel   32.1109  20.0688

In [11]:
hotel_df["City"] = ideal_cities["City"]
hotel_df["Country"] = ideal_cities["Country"]
hotel_df

,Hotel Name,Lat,Lng,City,Country
0,Tip Top Guesthouses,-30.9692,22.1301,Carnarvon,ZA
1,Bredasdorp Country Manor,-34.533,20.0359,Bredasdorp,ZA
2,The Halyards Hotel,-33.5943,26.8932,Port Alfred,ZA
3,Tu Casa,-32.985,27.9236,East London,ZA
4,Misty Waves Boutique Hotel,-34.4214,19.2366,Hermanus,ZA
5,Die Hoekhuis,-32.1663,25.6212,Cradock,ZA
7,玉门宾馆,40.2928,97.0429,Yumen,CN
8,Lakeview Lodge,-17.2702,27.4646,Sinazongwe,ZM
9,The Progo Paradise,-7.93097,110.263,Bambanglipuro,ID
10,Maqna Hotel by Prasanthi,0.537698,123.063,Gorontalo,ID
11,Maitishong Guesthouse & Conferencing,-25.0934,29.0929,Siyabuswa,ZA
12,Hotel Ritz,-11.1981,13.8355,Sumbe,AO
13,La Ode Gombe,-4.94801,122.5,Katobu,ID
14,فندق الماسة,32.3734,15.0858,Misratah,LY
15,Gaza Hotel,38.2037,67.2255,Boysun,UZ
16,Hotel Missões,-28.1462,-54.7389,Cerro Largo,BR
17,Avenue GuestHouse,-29.674,22.75,Prieska,ZA
18,Safari Lodge Hotel & Convention Centre,-25.6867,27.1964,Rustenburg,ZA
19,فندق الفردوس,32.7672,22.6379,Darnah,LY
20,Rose Garden Dinner Bed and Breakfast,-31.3337,27.8476,Elliot,ZA
21,Family,46.8435,74.981,Balkhash,KZ
22,Tebisty Hotel,32.1109,20.0688,Benghazi,LY

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content= hotel_info
)


#fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

# Display Map

Figure(layout=FigureLayout(height='420px'))